Repository spacetelescope/jwql, pull requests merged in 2018-12, with the labels that each got.

#176 Upgrade Bokeh to 1.0
  environment.yml
  jwql/jwql_monitors/monitor_mast.py
Labels: Environment, Medium Priority, Package

#213 Updated version numbers in setup.py
  setup.py
Labels: Environment, Low Priority

#178 REST API for the web app
  jwql/utils/utils.py
  jwql/website/apps/jwql/api_views.py
  jwql/website/apps/jwql/data_containers.py
  jwql/website/apps/jwql/urls.py
  jwql/website/apps/jwql/views.py
  jwql/website/jwql_proj/urls.py
Labels: Low Priority, Web Application, enhancement

#208 Homepage search form
  jwql/tests/test_utils.py
  jwql/utils/utils.py
  jwql/website/apps/jwql/forms.py
  jwql/website/apps/jwql/static/css/jwql.css
  jwql/website/apps/jwql/templates/home.html
  jwql/website/apps/jwql/views.py
Labels: Web Application, enhancement

#202 Add cron job monitor table to web app
  docs/source/jwql_monitors.rst
  environment.yml
  jwql/jwql_monitors/monitor_cron_jobs.py
  jwql/utils/utils.py
  jwql/website/apps/jwql/data_containers.py
  jwql/website/apps/jwql/templates/base.html
  jwql/website/apps/jwql/templates/dashboard.html
  jwql/website/apps/jwql/templates/filesystem_monitor_full.html
  jwql/website/apps/jwql/views.py
Labels: Medium Priority, Web Application, enhancement

#224 Updating version numbers for the 0.16.0 release
  docs/source/conf.py
  setup.py
Labels: Low Priority, Package

#221 Tests for REST API
  docs/source/tests.rst
  jwql/tests/test_api_views.py
Labels: Low Priority, Testing, Web Application

#227 astroquery test
  jwql/tests/test_monitor_mast.py
Labels: Monitor, Testing

#233 Fix test_monitor_mast
  jwql/tests/test_monitor_mast.py
Labels: Database, Low Priority, Monitor, Testing, bug

#235 Improve URLs
  jwql/utils/utils.py
  jwql/website/apps/jwql/forms.py
  jwql/website/apps/jwql/templates/view_image.html
  jwql/website/apps/jwql/urls.py
  jwql/website/apps/jwql/views.py
Labels: Web Application, enhancement
