Repository spacetelescope/jwql, pull requests merged in 2019-08, with the labels that each got.

#474 Update API docs
  MANIFEST.in
  docs/source/tests.rst
  jwql/utils/utils.py
  requirements.txt
Labels: Documentation, Low Priority

#377 dark_monitor for all instruments
  environment_python_3_6.yml
  jwql/instrument_monitors/common_monitors/dark_monitor.py
  jwql/utils/constants.py
  jwql/utils/instrument_properties.py
  jwql/utils/logging_functions.py
  jwql/utils/monitor_utils.py
  setup.py
Labels: Medium Priority, Monitor, enhancement

#456 Add observation times to the database tables
  jwql/database/monitor_table_definitions/fgs/fgs_dark_dark_current.txt
  jwql/database/monitor_table_definitions/fgs/fgs_dark_pixel_stats.txt
  jwql/database/monitor_table_definitions/miri/miri_dark_dark_current.txt
  jwql/database/monitor_table_definitions/miri/miri_dark_pixel_stats.txt
  jwql/database/monitor_table_definitions/nircam/nircam_dark_dark_current.txt
  jwql/database/monitor_table_definitions/nircam/nircam_dark_pixel_stats.txt
  jwql/database/monitor_table_definitions/niriss/niriss_dark_dark_current.txt
  jwql/database/monitor_table_definitions/niriss/niriss_dark_pixel_stats.txt
  jwql/database/monitor_table_definitions/nirspec/nirspec_dark_dark_current.txt
  jwql/database/monitor_table_definitions/nirspec/nirspec_dark_pixel_stats.txt
  jwql/instrument_monitors/common_monitors/dark_monitor.py
  jwql/utils/instrument_properties.py
Labels: Monitor, enhancement

#482 Updates to 3.6 conda environment to get it working on a linux distro
  environment_python_3_6.yml
  requirements.txt
  setup.py
Labels: Environment, Low Priority, bug

#483 Simplify conda environments
  environment_python_3_5.yml
  environment_python_3_6.yml
  requirements.txt
  setup.py
Labels: Environment, Low Priority

#354 Web app tests
  codecov.yml
  docs/source/tests.rst
  jwql/tests/test_data_containers.py
  jwql/website/apps/jwql/data_containers.py
  jwql/website/apps/jwql/tests.py
  jwql/website/apps/jwql/tests/test_context_processors.py
  jwql/website/apps/jwql/views.py
Labels: Medium Priority, Testing, Web Application, enhancement

#459 Bokeh templating
  jwql/bokeh_templating/__init__.py
  jwql/bokeh_templating/bokeh_surface.py
  jwql/bokeh_templating/example/example_interface.yaml
  jwql/bokeh_templating/example/main.py
  jwql/bokeh_templating/factory.py
  jwql/bokeh_templating/keyword_map.py
  jwql/bokeh_templating/template.py
  jwql/jwql_monitors/monitor_filesystem.py
  jwql/jwql_monitors/monitor_mast.py
  jwql/website/apps/jwql/bokeh_containers.py
  jwql/website/apps/jwql/monitor_pages/__init__.py
  jwql/website/apps/jwql/monitor_pages/dark_monitor.py
  jwql/website/apps/jwql/monitor_pages/monitor_filesystem_bokeh.py
  jwql/website/apps/jwql/monitor_pages/monitor_mast_bokeh.py
  jwql/website/apps/jwql/monitor_pages/yaml/dark_monitor_interface.yml
  jwql/website/apps/jwql/monitor_pages/yaml/monitor_filesystem_interface.yaml
  jwql/website/apps/jwql/monitor_pages/yaml/monitor_mast_interface.yaml
Labels: High Priority, Package, enhancement
