Repository spacetelescope/jwql, pull requests merged in 2019-01, with the labels that each got.

#241 Load scripts over https instead of http
  jwql/website/apps/jwql/templates/base.html
Labels: Low Priority, Web Application, bug

#238 Require asdf
  environment.yml
  jwql/tests/test_preview_image.py
  requirements.txt
Labels: Environment, Low Priority, Testing, bug

#223 Document how we do a release
  CHANGES.rst
Labels: Documentation, Low Priority, Package

#252 Updated jwql logo
  README.md
  docs/source/index.rst
  jwql/website/apps/jwql/static/img/JWQLlogo.png
  jwql/website/apps/jwql/static/img/JWQLlogo_small.png
  jwql/website/apps/jwql/static/img/jwql_logo_full_transparent.png
  jwql/website/apps/jwql/static/img/jwql_logo_short_transparent.png
  jwql/website/apps/jwql/templates/about.html
  jwql/website/apps/jwql/templates/base.html
  logos/jwql_logo_full_dark.png
  logos/jwql_logo_full_dark_border.png
  logos/jwql_logo_full_light.png
  logos/jwql_logo_full_light_border.png
  logos/jwql_logo_full_transparent.png
  logos/jwql_logo_short_dark.png
  logos/jwql_logo_short_light.png
  logos/jwql_logo_short_transparent.png
Labels: Low Priority, Package, Web Application, enhancement

#251 Add pytest-html and pytest-cov to conda environment
  environment.yml
Labels: Environment, Low Priority, Testing, enhancement

#248 Expand filename_parser to handle time series and stage 3 filenames
  jwql/tests/test_utils.py
  jwql/utils/utils.py
Labels: Medium Priority, Package, Testing, enhancement

#158 Basic DMS engineering database interface
  docs/source/utils.rst
  jwql/tests/test_edb_interface.py
  jwql/utils/engineering_database.py
Labels: Database, High Priority

#253 style guide: naming conventions
  jwql/jwql_monitors/monitor_mast.py
  jwql/tests/test_monitor_mast.py
  jwql/utils/constants.py
  jwql/utils/monitor_template.py
  jwql/utils/utils.py
  jwql/website/apps/jwql/data_containers.py
  jwql/website/apps/jwql/forms.py
  jwql/website/apps/jwql/views.py
  style_guide/style_guide.md
Labels: Documentation, Low Priority, Package, enhancement

#267 Update generate_preview_images to use constants.py module
  jwql/jwql_monitors/generate_preview_images.py
Labels: Medium Priority, bug

#270 Fix unit tests in Jenkins builds
  jwql/tests/test_api_views.py
  jwql/tests/test_edb_interface.py
Labels: Medium Priority, Testing, bug
