Repository spacetelescope/jwql, pull requests merged in 2019-04, with the labels that each got.

#326 MIRI data trending
  jwql/database/miri_database.db
  jwql/edb/edb_interface.py
  jwql/instrument_monitors/miri_monitors/data_trending/15min_to_db.py
  jwql/instrument_monitors/miri_monitors/data_trending/__init__.py
  jwql/instrument_monitors/miri_monitors/data_trending/dashboard.py
  jwql/instrument_monitors/miri_monitors/data_trending/day_to_db.py
  jwql/instrument_monitors/miri_monitors/data_trending/dt_cron_job.py
  jwql/instrument_monitors/miri_monitors/data_trending/plots/__init__.py
  jwql/instrument_monitors/miri_monitors/data_trending/plots/bias_tab.py
  jwql/instrument_monitors/miri_monitors/data_trending/plots/fpe_voltage_tab.py
  jwql/instrument_monitors/miri_monitors/data_trending/plots/ice_voltage_tab.py
  jwql/instrument_monitors/miri_monitors/data_trending/plots/plot_functions.py
  jwql/instrument_monitors/miri_monitors/data_trending/plots/power_tab.py
  jwql/instrument_monitors/miri_monitors/data_trending/plots/temperature_tab.py
  jwql/instrument_monitors/miri_monitors/data_trending/plots/wheel_ratio_tab.py
  jwql/instrument_monitors/miri_monitors/data_trending/utils/condition.py
  jwql/instrument_monitors/miri_monitors/data_trending/utils/csv_to_AstropyTable.py
  jwql/instrument_monitors/miri_monitors/data_trending/utils/mnemonics.py
  jwql/instrument_monitors/miri_monitors/data_trending/utils/process_data.py
  jwql/instrument_monitors/miri_monitors/data_trending/utils/sql_interface.py
  jwql/instrument_monitors/nirspec_monitors/data_trending/utils/__init__.py
  jwql/utils/constants.py
  jwql/utils/edb.py
  jwql/website/apps/jwql/data_containers.py
  jwql/website/apps/jwql/templates/base.html
  jwql/website/apps/jwql/templates/instrument.html
  jwql/website/apps/jwql/templates/miri_data_trending.html
  jwql/website/apps/jwql/urls.py
  jwql/website/apps/jwql/views.py
  jwql/website/db.sqlite3
Labels: High Priority, Monitor, enhancement

#340 NIRSpec Data-Trending
  jwql/database/nirspec_database.db
  jwql/database/nirspec_database_backup.db
  jwql/instrument_monitors/nirspec_monitors/data_trending/15min_to_db.py
  jwql/instrument_monitors/nirspec_monitors/data_trending/__init__.py
  jwql/instrument_monitors/nirspec_monitors/data_trending/dashboard.py
  jwql/instrument_monitors/nirspec_monitors/data_trending/day_to_db.py
  jwql/instrument_monitors/nirspec_monitors/data_trending/dt_cron_job.py
  jwql/instrument_monitors/nirspec_monitors/data_trending/plots/__init__.py
  jwql/instrument_monitors/nirspec_monitors/data_trending/plots/caa_tab.py
  jwql/instrument_monitors/nirspec_monitors/data_trending/plots/fpe_fpa_tab.py
  jwql/instrument_monitors/nirspec_monitors/data_trending/plots/msa_mce_tab.py
  jwql/instrument_monitors/nirspec_monitors/data_trending/plots/plot_functions.py
  jwql/instrument_monitors/nirspec_monitors/data_trending/plots/power_tab.py
  jwql/instrument_monitors/nirspec_monitors/data_trending/plots/temperature_tab.py
  jwql/instrument_monitors/nirspec_monitors/data_trending/plots/voltage_tab.py
  jwql/instrument_monitors/nirspec_monitors/data_trending/plots/wheel_tab.py
  jwql/instrument_monitors/nirspec_monitors/data_trending/utils/condition.py
  jwql/instrument_monitors/nirspec_monitors/data_trending/utils/csv_to_AstropyTable.py
  jwql/instrument_monitors/nirspec_monitors/data_trending/utils/mnemonics.py
  jwql/instrument_monitors/nirspec_monitors/data_trending/utils/process_data.py
  jwql/instrument_monitors/nirspec_monitors/data_trending/utils/sql_interface.py
  jwql/instrument_monitors/nirspec_monitors/data_trending/wheel_to_db.py
  jwql/utils/constants.py
  jwql/website/apps/jwql/data_containers.py
  jwql/website/apps/jwql/templates/nirspec_data_trending.html
  jwql/website/apps/jwql/urls.py
  jwql/website/apps/jwql/views.py
Labels: High Priority, Monitor, enhancement

#352 Update cron_job_monitor to use updates from logging_functions
  jwql/jwql_monitors/monitor_cron_jobs.py
Labels: Low Priority, Monitor, bug

#327 Update Logging functions
  jwql/database/database_interface.py
  jwql/edb/edb_interface.py
  jwql/utils/logging_functions.py
  jwql/website/apps/jwql/views.py
  jwql/website/db.sqlite3
Labels: Medium Priority, Package, enhancement

#258 Logging guidelines
  style_guide/example.py
  style_guide/logging_guide.md
  style_guide/style_guide.md
Labels: Documentation, Medium Priority, enhancement

#356 Configure private jenkins tests
  Jenkinsfile
  jwql/tests/test_api_views.py
  jwql/tests/test_edb_interface.py
  jwql/tests/test_permissions.py
  jwql/tests/test_preview_image.py
  jwql/tests/test_utils.py
Labels: Environment, Medium Priority, Testing

#357 Support stage 3 preview images and thumbnails
  jwql/jwql_monitors/generate_preview_images.py
  jwql/utils/preview_image.py
Labels: Medium Priority, Monitor, enhancement

#347 Don't return full paths in API views
  jwql/website/apps/jwql/data_containers.py
Labels: Medium Priority, Web Application

#348 Fix slow loading times for some webpages
  docs/source/tests.rst
  jwql/tests/test_loading_times.py
  jwql/website/apps/jwql/data_containers.py
  jwql/website/apps/jwql/static/css/jwql.css
  jwql/website/apps/jwql/templates/base.html
  jwql/website/apps/jwql/views.py
Labels: High Priority, Testing, Web Application, enhancement

#322 Hide certain content if user is not authenticated
  jwql/website/apps/jwql/api_views.py
  jwql/website/apps/jwql/oauth.py
  jwql/website/apps/jwql/templates/not_authenticated.html
  jwql/website/apps/jwql/views.py
Labels: High Priority, Web Application, enhancement

#365 Improve test_preview_image
  jwql/tests/test_preview_image.py
Labels: Low Priority, Testing, bug

#370 Release 0.19.0
  CHANGES.rst
  setup.py
Labels: Documentation, Medium Priority, Package

#381 Update Codecov settings
  README.md
  codecov.yml
Labels: Low Priority, Testing

#376 Tests for logging_functions
  docs/source/tests.rst
  jwql/tests/test_logging_functions.py
Labels: Low Priority, Testing, enhancement

#379 Fix dashboard
  jwql/website/apps/jwql/data_containers.py
Labels: Medium Priority, Web Application, bug

#373 Fix passing Jenkins builds despite failed unit tests
  Jenkinsfile
  jwql/instrument_monitors/common_monitors/dark_monitor.py
  jwql/tests/test_dark_monitor.py
  jwql/tests/test_loading_times.py
  jwql/tests/test_permissions.py
Labels: Medium Priority, Testing, bug

#390 Fixed Filesystem Monitor plot y axis titles and colors
  jwql/jwql_monitors/monitor_filesystem.py
Labels: Low Priority, Monitor, bug

#393 Adjust Jenkins node label to allow execution on RT system.
  JenkinsfileRT
Labels: Medium Priority, Testing, bug

#389 SpaceCAT 404 template
  jwql/website/apps/jwql/data_containers.py
  jwql/website/apps/jwql/static/img/spacecat.jpg
  jwql/website/apps/jwql/templates/404_spacecat.html
Labels: Low Priority, Web Application, enhancement
