Repository spacetelescope/jwql, pull requests merged in 2019-02, with the labels that each got.

#245 Integrate auth.mast
  docs/source/website.rst
  environment.yml
  jwql/website/apps/jwql/oauth.py
  jwql/website/apps/jwql/static/css/jwql.css
  jwql/website/apps/jwql/templates/base.html
  jwql/website/apps/jwql/templates/thumbnails.html
  jwql/website/apps/jwql/urls.py
  jwql/website/apps/jwql/views.py
  requirements.txt
Labels: High Priority, Web Application, enhancement

#265 Test filename_parser with whole filesystem
  .gitignore
  jwql/tests/test_utils.py
Labels: Filesystem, Low Priority, Testing

#272 engineering database page for web app
  jwql/tests/test_edb_interface.py
  jwql/utils/engineering_database.py
  jwql/website/apps/jwql/data_containers.py
  jwql/website/apps/jwql/forms.py
  jwql/website/apps/jwql/static/css/jwql.css
  jwql/website/apps/jwql/templates/base.html
  jwql/website/apps/jwql/templates/engineering_database.html
  jwql/website/apps/jwql/urls.py
  jwql/website/apps/jwql/views.py
  notebooks/edb_mnemonic_query.ipynb
Labels: High Priority, Monitor, Web Application, enhancement

#277 Add python source for monitor_mast
  jwql/jwql_monitors/monitor_mast.py
Labels: Medium Priority, Monitor, bug

#281 More API views tests
  jwql/tests/test_api_views.py
  jwql/website/apps/jwql/data_containers.py
Labels: Low Priority, Testing, enhancement

#284 Fix padding of buttons on navbar
  jwql/website/apps/jwql/static/css/jwql.css
  jwql/website/apps/jwql/templates/base.html
Labels: Low Priority, Web Application

#280 Update install_requires in setup.py to adhere more closely to python best practices
  setup.py
Labels: Environment, Low Priority, Package

#287 Config file instructions
  README.md
Labels: Documentation, Medium Priority, Package, enhancement

#288 Add custom error message if config.json is missing
  jwql/utils/utils.py
Labels: Documentation, Medium Priority, Package, enhancement

#298 Webpage template branch
  WEBPAGE_TEMPLATE.md
  jwql/website/apps/jwql/data_containers.py
  jwql/website/apps/jwql/templates/WEBPAGE_TEMPLATE.html
  jwql/website/apps/jwql/urls.py
  jwql/website/apps/jwql/views.py
Labels: Documentation, Medium Priority, Web Application

#296 Add version number
  README.md
  docs/source/conf.py
  docs/source/tests.rst
  jwql/__init__.py
  jwql/tests/test_setup.py
  jwql/website/apps/jwql/static/css/jwql.css
  jwql/website/apps/jwql/static/js/jwql.js
  jwql/website/apps/jwql/templates/base.html
  jwql/website/apps/jwql/views.py
Labels: Low Priority, Package, Web Application, enhancement

#300 Add introductory resources for web development
  WEBPAGE_TEMPLATE.md
Labels: Documentation, Web Application, enhancement

#303 trying to make pytest results file jive with jenkins
  pytest.ini
Labels: Low Priority, Testing, enhancement

#306 Documentation pages open in new tab
  jwql/website/apps/jwql/templates/base.html
  jwql/website/apps/jwql/templates/instrument.html
  jwql/website/apps/jwql/views.py
Labels: Low Priority, Web Application, enhancement

#301 Update installation instructions
  README.md
Labels: Documentation, enhancement

#304 A generic way to store instrument monitoring data
  jwql/database/database_interface.py
  jwql/database/monitor_table_definitions/nircam/nircam_dark_dark_current.txt
  jwql/database/monitor_table_definitions/nircam/nircam_dark_pixel_stats.txt
  jwql/database/monitor_table_definitions/nircam/nircam_dark_queries.txt
  jwql/database/monitor_table_definitions/nircam/nircam_dark_query_history.txt
Labels: High Priority, Monitor, enhancement

#305 auth.mast example notebook
  notebooks/integrating_auth_mast_service.ipynb
Labels: Documentation, Low Priority, enhancement
