Repository spacetelescope/jwql, pull requests merged in 2019-07, with the labels that each got.

#461 Fix Jenkins
  Jenkinsfile
  jwql/database/database_interface.py
  jwql/tests/test_api_views.py
  jwql/tests/test_dark_monitor.py
  jwql/tests/test_database_interface.py
  jwql/tests/test_edb.py
  jwql/tests/test_instrument_properties.py
  jwql/tests/test_loading_times.py
  jwql/tests/test_logging_functions.py
  jwql/tests/test_permissions.py
  jwql/tests/test_pipeline_tools.py
  jwql/tests/test_preview_image.py
  jwql/tests/test_utils.py
Labels: High Priority, Testing, bug

#464 Add comments to Jenkinsfile
  Jenkinsfile
Labels: Documentation, Low Priority, Testing

#465 Programmatically define HTML Bokeh version
  jwql/website/apps/jwql/context_processors.py
  jwql/website/apps/jwql/templates/base.html
  jwql/website/apps/jwql/templates/dashboard.html
  jwql/website/apps/jwql/templates/engineering_database.html
  jwql/website/apps/jwql/templates/filesystem_monitor_full.html
  jwql/website/apps/jwql/templates/miri_data_trending.html
  jwql/website/apps/jwql/templates/nirspec_data_trending.html
Labels: Environment, Low Priority, Web Application

#466 Validate config.json while opening
  environment_python_3_5.yml
  environment_python_3_6.yml
  jwql/tests/test_utils.py
  jwql/utils/credentials.py
  jwql/utils/utils.py
  jwql/website/apps/jwql/data_containers.py
  jwql/website/apps/jwql/oauth.py
  requirements.txt
Labels: Environment, Low Priority, Package, enhancement

#457 Accessibility Guidelines
  jwql/website/apps/jwql/static/css/jwql.css
  jwql/website/apps/jwql/static/js/jwql.js
  jwql/website/apps/jwql/templates/404_space.html
  jwql/website/apps/jwql/templates/404_spacecat.html
  jwql/website/apps/jwql/templates/about.html
  jwql/website/apps/jwql/templates/base.html
  jwql/website/apps/jwql/templates/engineering_database.html
  jwql/website/apps/jwql/templates/home.html
  jwql/website/apps/jwql/templates/instrument.html
  jwql/website/apps/jwql/templates/miri_data_trending.html
  jwql/website/apps/jwql/templates/nirspec_data_trending.html
  jwql/website/apps/jwql/templates/view_header.html
  jwql/website/apps/jwql/templates/view_image.html
  style_guide/README.md
  style_guide/accessibility_guidelines.md
Labels: Medium Priority, Web Application, enhancement

#449 Handle missing files for dark current monitor
  jwql/instrument_monitors/common_monitors/dark_monitor.py
Labels: Medium Priority, Monitor, bug

#463 Fix pytest-cov dependency in requirements.txt
  requirements.txt
Labels: Environment, Low Priority, bug

#401 central store update to filesystem monitor
  jwql/database/database_interface.py
  jwql/jwql_monitors/monitor_filesystem.py
Labels: Low Priority, Monitor, enhancement

#471 Release 0.21.0 [develop]
  CHANGES.rst
  setup.py
Labels: Documentation, Package

#472 Release 0.21.0 [master]
  CHANGES.rst
  Jenkinsfile
  README.md
  environment_python_3_5.yml
  environment_python_3_6.yml
  jwql/database/database_interface.py
  jwql/database/monitor_table_definitions/fgs/fgs_dark_dark_current.txt
  jwql/database/monitor_table_definitions/miri/miri_dark_dark_current.txt
  jwql/database/monitor_table_definitions/nircam/nircam_dark_dark_current.txt
  jwql/database/monitor_table_definitions/niriss/niriss_dark_dark_current.txt
  jwql/database/monitor_table_definitions/nirspec/nirspec_dark_dark_current.txt
  jwql/instrument_monitors/common_monitors/dark_monitor.py
  jwql/jwql_monitors/monitor_filesystem.py
  jwql/tests/test_api_views.py
  jwql/tests/test_dark_monitor.py
  jwql/tests/test_database_interface.py
  jwql/tests/test_edb.py
  jwql/tests/test_instrument_properties.py
  jwql/tests/test_loading_times.py
  jwql/tests/test_logging_functions.py
  jwql/tests/test_permissions.py
  jwql/tests/test_pipeline_tools.py
  jwql/tests/test_plotting.py
  jwql/tests/test_preview_image.py
  jwql/tests/test_utils.py
  jwql/utils/credentials.py
  jwql/utils/utils.py
  jwql/website/apps/jwql/context_processors.py
  jwql/website/apps/jwql/data_containers.py
  jwql/website/apps/jwql/oauth.py
  jwql/website/apps/jwql/static/css/jwql.css
  jwql/website/apps/jwql/static/js/jwql.js
  jwql/website/apps/jwql/templates/404_space.html
  jwql/website/apps/jwql/templates/404_spacecat.html
  jwql/website/apps/jwql/templates/about.html
  jwql/website/apps/jwql/templates/base.html
  jwql/website/apps/jwql/templates/dashboard.html
  jwql/website/apps/jwql/templates/engineering_database.html
  jwql/website/apps/jwql/templates/filesystem_monitor_full.html
  jwql/website/apps/jwql/templates/home.html
  jwql/website/apps/jwql/templates/instrument.html
  jwql/website/apps/jwql/templates/miri_data_trending.html
  jwql/website/apps/jwql/templates/nirspec_data_trending.html
  jwql/website/apps/jwql/templates/view_header.html
  jwql/website/apps/jwql/templates/view_image.html
  jwql/website/apps/jwql/views.py
  jwql/website/jwql_proj/settings.py
  requirements.txt
  setup.py
  style_guide/README.md
  style_guide/accessibility_guidelines.md
Labels: Documentation, Package
