Repository spacetelescope/jwql, pull requests merged in 2020-08, with the labels that each got.

#604 Sphinx monitors
  docs/source/common_monitors.rst
  environment_python_3_6.yml
  requirements.txt
  rtd_requirements.txt
  setup.py
Labels: Documentation

#615 Make readnoise tests
  jwql/tests/test_readnoise_monitor.py
Labels: Monitor, Testing

#611 API Landing Page
  jwql/website/apps/jwql/templates/api_landing.html
  jwql/website/apps/jwql/templates/base.html
  jwql/website/apps/jwql/urls.py
  jwql/website/apps/jwql/views.py
Labels: Documentation, Web Application

#603 Add support for new python versions
  Jenkinsfile
  environment_python_3_6.yml
  environment_python_3_7.yml
  environment_python_3_8.yml
  jwql/instrument_monitors/common_monitors/dark_monitor.py
  jwql/tests/test_plotting.py
  jwql/utils/logging_functions.py
  requirements.txt
  setup.py
Labels: Environment
