Repository spacetelescope/jwql, pull requests merged in 2020-09, with the labels that each got.

#629 Update pandas and numpy to solve cron job issues
  environment_python_3_6.yml
  environment_python_3_7.yml
  environment_python_3_8.yml
Labels: Environment, Monitor

#628 Make bias monitor tests
  docs/source/tests.rst
  jwql/tests/test_bias_monitor.py
Labels: Monitor, Testing

#601 Add bad pixel monitor tests
  docs/source/tests.rst
  environment_python_3_6.yml
  environment_python_3_7.yml
  environment_python_3_8.yml
  jwql/tests/test_bad_pixel_monitor.py
  requirements.txt
  setup.py
Labels: Monitor, Testing

#631 Update top level instrument JDox links
  jwql/website/apps/jwql/views.py
Labels: Documentation, bug
