Repository spacetelescope/jwql, pull requests merged in 2020-03, with the labels that each got.

#549 Change Pyup cadence from weekly to monthly
  .pyup.yml
Labels: Environment, Low Priority

#550 Specify restriction on bokeh version to fix cron job errors
  environment_python_3_6.yml
  requirements.txt
  setup.py
Labels: Environment, Monitor, bug

#460 Add dark monitor Bokeh templating files
  environment_python_3_6.yml
  jwql/bokeh_templating/example/main.py
  jwql/bokeh_templating/factory.py
  jwql/bokeh_templating/keyword_map.py
  jwql/bokeh_templating/template.py
  jwql/jwql_monitors/monitor_mast.py
  jwql/utils/constants.py
  jwql/website/apps/jwql/bokeh_containers.py
  jwql/website/apps/jwql/models.py
  jwql/website/apps/jwql/monitor_pages/__init__.py
  jwql/website/apps/jwql/monitor_pages/monitor_dark_bokeh.py
  jwql/website/apps/jwql/monitor_pages/yaml/dark_monitor_interface.yaml
  jwql/website/apps/jwql/monitor_pages/yaml/dark_monitor_interface.yml
  jwql/website/apps/jwql/monitor_views.py
  jwql/website/apps/jwql/templates/dark_monitor.html
  jwql/website/apps/jwql/templates/view_image.html
  jwql/website/apps/jwql/urls.py
  jwql/website/apps/jwql/views.py
  requirements.txt
  setup.py
Labels: Monitor, Web Application

#523 Add image slider to change integration
  jwql/website/apps/jwql/static/css/jwql.css
  jwql/website/apps/jwql/static/js/jwql.js
  jwql/website/apps/jwql/templates/view_image.html
Labels: Web Application, enhancement

#530 Add 'conda env export' to the logging output.
  jwql/utils/logging_functions.py
Labels: Low Priority, Monitor, enhancement
