Repository spacetelescope/jwql, pull requests merged in 2020-06, with the labels that each got.

#576 Adding table viewer html and backend
  jwql/website/apps/jwql/data_containers.py
  jwql/website/apps/jwql/templates/base.html
  jwql/website/apps/jwql/templates/jwqldb_table_viewer.html
  jwql/website/apps/jwql/urls.py
  jwql/website/apps/jwql/views.py
Labels: Medium Priority, Web Application, enhancement

#582 Fix link to numpy docstring guide
  style_guide/README.md
Labels: bug

#583 Update/Add API documentation for bokeh templating software
  jwql/bokeh_templating/bokeh_surface.py
  jwql/bokeh_templating/example/example_interface.yaml
  jwql/bokeh_templating/example/main.py
  jwql/bokeh_templating/factory.py
  jwql/bokeh_templating/keyword_map.py
  jwql/bokeh_templating/surface3d.py
  jwql/bokeh_templating/surface3d.ts
  jwql/bokeh_templating/template.py
Labels: Documentation, Medium Priority, Package

#557 Make Readnoise monitor
  jwql/database/database_interface.py
  jwql/database/monitor_table_definitions/nircam/nircam_readnoise_query_history.txt
  jwql/database/monitor_table_definitions/nircam/nircam_readnoise_stats.txt
  jwql/database/monitor_table_definitions/niriss/niriss_readnoise_query_history.txt
  jwql/database/monitor_table_definitions/niriss/niriss_readnoise_stats.txt
  jwql/instrument_monitors/common_monitors/readnoise_monitor.py
  jwql/utils/constants.py
Labels: High Priority, Monitor

#574 Anomaly results web app view
  jwql/utils/anomaly_query_config.py
  jwql/utils/constants.py
  jwql/website/apps/jwql/api_views.py
  jwql/website/apps/jwql/data_containers.py
  jwql/website/apps/jwql/forms.py
  jwql/website/apps/jwql/templates/home.html
  jwql/website/apps/jwql/templates/query_anomaly.html
  jwql/website/apps/jwql/templates/query_anomaly_2.html
  jwql/website/apps/jwql/templates/query_anomaly_3.html
  jwql/website/apps/jwql/templates/query_submit.html
  jwql/website/apps/jwql/urls.py
  jwql/website/apps/jwql/views.py
Labels: High Priority, Web Application, enhancement

#594 Update project documentation
  README.md
  jwql/website/apps/jwql/templates/about.html
  setup.py
Labels: Documentation, Low Priority, Package, Web Application

#555 Add bad pixel monitor
  environment_python_3_6.yml
  jwql/database/database_interface.py
  jwql/database/monitor_table_definitions/fgs/fgs_bad_pixel_query_history.txt
  jwql/database/monitor_table_definitions/fgs/fgs_bad_pixel_stats.txt
  jwql/database/monitor_table_definitions/miri/miri_bad_pixel_query_history.txt
  jwql/database/monitor_table_definitions/miri/miri_bad_pixel_stats.txt
  jwql/database/monitor_table_definitions/nircam/nircam_bad_pixel_query_history.txt
  jwql/database/monitor_table_definitions/nircam/nircam_bad_pixel_stats.txt
  jwql/database/monitor_table_definitions/niriss/niriss_bad_pixel_query_history.txt
  jwql/database/monitor_table_definitions/niriss/niriss_bad_pixel_stats.txt
  jwql/database/monitor_table_definitions/nirspec/nirspec_bad_pixel_query_history.txt
  jwql/database/monitor_table_definitions/nirspec/nirspec_bad_pixel_stats.txt
  jwql/instrument_monitors/common_monitors/bad_pixel_file_thresholds.txt
  jwql/instrument_monitors/common_monitors/bad_pixel_monitor.py
  jwql/instrument_monitors/pipeline_tools.py
  jwql/utils/constants.py
  jwql/utils/crds_tools.py
  jwql/utils/mast_utils.py
  requirements.txt
  setup.py
Labels: High Priority, Monitor
