Repository spacetelescope/jwql, pull requests merged in 2020-10, with the labels that each got.

#633 Add readnoise monitor bokeh plots
  jwql/bokeh_templating/template.py
  jwql/utils/constants.py
  jwql/website/apps/jwql/bokeh_containers.py
  jwql/website/apps/jwql/monitor_pages/__init__.py
  jwql/website/apps/jwql/monitor_pages/monitor_readnoise_bokeh.py
  jwql/website/apps/jwql/monitor_pages/yaml/monitor_readnoise_interface.yaml
  jwql/website/apps/jwql/monitor_views.py
  jwql/website/apps/jwql/templates/readnoise_monitor.html
  jwql/website/apps/jwql/urls.py
Labels: Monitor, Web Application

#598 JWQLDB Table Viewer Improvements.
  jwql/website/apps/jwql/data_containers.py
  jwql/website/apps/jwql/templates/base.html
  jwql/website/apps/jwql/templates/jwqldb_table_viewer.html
  jwql/website/apps/jwql/urls.py
  jwql/website/apps/jwql/views.py
Labels: Web Application, enhancement

#612 Add bad pixel monitor Bokeh plots
  jwql/instrument_monitors/common_monitors/bad_pixel_monitor.py
  jwql/utils/constants.py
  jwql/website/apps/jwql/bokeh_containers.py
  jwql/website/apps/jwql/monitor_pages/__init__.py
  jwql/website/apps/jwql/monitor_pages/monitor_bad_pixel_bokeh.py
  jwql/website/apps/jwql/monitor_pages/yaml/badpixel_monitor_interface.yaml
  jwql/website/apps/jwql/monitor_views.py
  jwql/website/apps/jwql/templates/bad_pixel_monitor.html
  jwql/website/apps/jwql/urls.py
Labels: Monitor, Web Application

#642 Fix failing permissions test
  jwql/tests/test_permissions.py
Labels: Testing, bug

#643 Fix dark monitor database query
  jwql/instrument_monitors/common_monitors/dark_monitor.py
Labels: Monitor, bug

#645 Fix authentication through auth.mast
  README.md
  environment_python_3_6.yml
  environment_python_3_7.yml
  environment_python_3_8.yml
  jwql/website/apps/jwql/oauth.py
  requirements.txt
  setup.py
Labels: Web Application, bug

#630 Wtforms anomaly query updates
  jwql/jwql_monitors/monitor_filesystem.py
  jwql/utils/anomaly_query_config.py
  jwql/utils/constants.py
  jwql/utils/utils.py
  jwql/website/apps/jwql/api_views.py
  jwql/website/apps/jwql/data_containers.py
  jwql/website/apps/jwql/forms.py
  jwql/website/apps/jwql/static/js/jwql.js
  jwql/website/apps/jwql/templates/anomaly_query.html
  jwql/website/apps/jwql/templates/home.html
  jwql/website/apps/jwql/templates/query_anomaly.html
  jwql/website/apps/jwql/templates/query_anomaly_2.html
  jwql/website/apps/jwql/templates/query_anomaly_3.html
  jwql/website/apps/jwql/templates/query_submit.html
  jwql/website/apps/jwql/urls.py
  jwql/website/apps/jwql/views.py
Labels: Web Application, enhancement

#646 v0.24.0 Release [develop]
  CHANGES.rst
  setup.py
Labels: Documentation

#653 Add bokeh templating to read the docs
  docs/source/bokeh_templating.rst
  docs/source/index.rst
Labels: Documentation

#652 Fix failing instrument_properties test
  jwql/tests/test_instrument_properties.py
Labels: Testing, bug
