Repository spacetelescope/jwql, pull requests merged in 2020-12, with the labels that each got.

#670 Fix issues caused by readnoise monitor webpage
  jwql/website/apps/jwql/monitor_pages/monitor_readnoise_bokeh.py
  jwql/website/apps/jwql/monitor_pages/yaml/monitor_readnoise_interface.yaml
Labels: Web Application, bug

#671 Fix readnoise webpage hanging issue
  jwql/website/apps/jwql/monitor_pages/monitor_readnoise_bokeh.py
Labels: Web Application, bug

#660 Improvements to Archive Query Page
  docs/source/bokeh_templating.rst
  jwql/utils/anomaly_query_config.py
  jwql/utils/constants.py
  jwql/website/apps/jwql/data_containers.py
  jwql/website/apps/jwql/forms.py
  jwql/website/apps/jwql/static/js/jwql.js
  jwql/website/apps/jwql/templates/anomaly_query.html
  jwql/website/apps/jwql/urls.py
  jwql/website/apps/jwql/views.py
Labels: Database, Web Application

#678 Updated django to latest version
  environment_python_3_6.yml
  environment_python_3_7.yml
  environment_python_3_8.yml
  requirements.txt
  setup.py
Labels: Web Application, dependencies

#677 Update bokeh to latest version
  environment_python_3_6.yml
  environment_python_3_7.yml
  environment_python_3_8.yml
  requirements.txt
  setup.py
Labels: dependencies

#674 Fix MIRI amp bounds calculation when omitting refpix
  jwql/utils/instrument_properties.py
Labels: bug

#679 Remove affected_tables column from monitor table in database
  jwql/database/database_interface.py
  jwql/utils/monitor_utils.py
Labels: Database

#673 Adding Link to Table Viewer with URL Query Parameters
  jwql/website/apps/jwql/templates/bad_pixel_monitor.html
  jwql/website/apps/jwql/templates/base.html
  jwql/website/apps/jwql/urls.py
  jwql/website/apps/jwql/views.py
Labels: Monitor, Web Application

#680 Make Bias Monitor plots/webpage
  jwql/utils/constants.py
  jwql/website/apps/jwql/bokeh_containers.py
  jwql/website/apps/jwql/monitor_pages/__init__.py
  jwql/website/apps/jwql/monitor_pages/monitor_bias_bokeh.py
  jwql/website/apps/jwql/monitor_pages/yaml/monitor_bias_interface.yaml
  jwql/website/apps/jwql/monitor_views.py
  jwql/website/apps/jwql/templates/bias_monitor.html
  jwql/website/apps/jwql/urls.py
Labels: Monitor, Web Application

#669 Readnoise Monitor for all JWST instruments
  jwql/database/database_interface.py
  jwql/database/monitor_table_definitions/fgs/fgs_readnoise_query_history.txt
  jwql/database/monitor_table_definitions/fgs/fgs_readnoise_stats.txt
  jwql/database/monitor_table_definitions/miri/miri_readnoise_query_history.txt
  jwql/database/monitor_table_definitions/miri/miri_readnoise_stats.txt
  jwql/database/monitor_table_definitions/nirspec/nirspec_readnoise_query_history.txt
  jwql/database/monitor_table_definitions/nirspec/nirspec_readnoise_stats.txt
  jwql/instrument_monitors/common_monitors/readnoise_monitor.py
  jwql/utils/constants.py
  jwql/website/apps/jwql/monitor_pages/monitor_readnoise_bokeh.py
Labels: Monitor

#682 Release v0.25.0 [into develop]
  CHANGES.rst
  setup.py
Labels: Documentation, Package
