Repository spacetelescope/jwql, pull requests merged in 2021-09, with the labels that each got.

#786 Dashboard Updates
  jwql/instrument_monitors/common_monitors/bias_monitor.py
  jwql/instrument_monitors/common_monitors/readnoise_monitor.py
  jwql/jwql_monitors/generate_preview_images.py
  jwql/jwql_monitors/generate_proposal_thumbnails.py
  jwql/jwql_monitors/monitor_cron_jobs.py
  jwql/jwql_monitors/monitor_filesystem.py
  jwql/jwql_monitors/monitor_mast.py
  jwql/utils/utils.py
  jwql/website/apps/jwql/bokeh_dashboard.py
Labels: Web Application

#789 Adding Docs Option to Instrument Dropdowns
  jwql/utils/constants.py
  jwql/website/apps/jwql/context_processors.py
  jwql/website/apps/jwql/templates/base.html
  jwql/website/apps/jwql/views.py
Labels: Web Application, Documentation

#794 Replace broken documentation link with new URL
  jwql/website/apps/jwql/static/js/jwql.js
Labels: Web Application

#795 Change expstart in thumbnail hover to more human readable format
  jwql/website/apps/jwql/data_containers.py
  jwql/website/apps/jwql/static/js/jwql.js
  rtd_requirements.txt
Labels: enhancement, Web Application

#798 Add info on bug/feature requests to about page
  jwql/website/apps/jwql/templates/about.html
  jwql/website/apps/jwql/templates/home.html
Labels: Web Application, Documentation

#792 Adjust filters used in query
  jwql/utils/anomaly_query_config.py
  jwql/utils/constants.py
  jwql/website/apps/jwql/data_containers.py
  jwql/website/apps/jwql/forms.py
  jwql/website/apps/jwql/templates/anomaly_query.html
  jwql/website/apps/jwql/templates/query_submit.html
  jwql/website/apps/jwql/views.py
Labels: bug, enhancement

#664 Datatable initialization error when viewing headers in web app
  jwql/website/apps/jwql/data_containers.py
  jwql/website/apps/jwql/templates/view_header.html
Labels: Web Application
