Repository spacetelescope/jwql, pull requests merged in 2021-08, with the labels that each got.

#770 Algorithm documentation
  jwql/instrument_monitors/common_monitors/bad_pixel_monitor.py
Labels: Documentation

#755 Various fixes/improvements for stakeholder demos
  README.md
  jwql/utils/constants.py
  jwql/utils/utils.py
  jwql/website/apps/jwql/data_containers.py
  jwql/website/apps/jwql/static/css/jwql.css
  jwql/website/apps/jwql/static/img/jwql_dev_team.png
  jwql/website/apps/jwql/static/img/jwql_instrument_monitors.png
  jwql/website/apps/jwql/static/img/jwql_overview.png
  jwql/website/apps/jwql/static/img/jwql_project.png
  jwql/website/apps/jwql/static/img/jwql_technologies.png
  jwql/website/apps/jwql/templates/about.html
  jwql/website/apps/jwql/templates/home.html
  jwql/website/apps/jwql/templates/view_header.html
  jwql/website/apps/jwql/templates/view_image.html
  jwql/website/apps/jwql/views.py
Labels: bug, enhancement, Web Application

#785 Add Read Permissions
  jwql/database/database_interface.py
  jwql/database/reset_database.py
Labels: bug, Database

#773 Use integer for dither_points metadata entry
  jwql/database/monitor_table_definitions/fgs/fgs_dark_dark_current.txt
  jwql/database/monitor_table_definitions/fgs/fgs_dark_query_history.txt
  jwql/database/monitor_table_definitions/miri/miri_dark_dark_current.txt
  jwql/database/monitor_table_definitions/miri/miri_dark_query_history.txt
  jwql/database/monitor_table_definitions/nircam/nircam_dark_dark_current.txt
  jwql/database/monitor_table_definitions/nircam/nircam_dark_query_history.txt
  jwql/database/monitor_table_definitions/niriss/niriss_dark_dark_current.txt
  jwql/database/monitor_table_definitions/niriss/niriss_dark_query_history.txt
  jwql/database/monitor_table_definitions/nirspec/nirspec_dark_dark_current.txt
  jwql/database/monitor_table_definitions/nirspec/nirspec_dark_query_history.txt
  jwql/instrument_monitors/common_monitors/bad_pixel_monitor.py
  jwql/instrument_monitors/common_monitors/dark_monitor.py
  jwql/instrument_monitors/pipeline_tools.py
  jwql/tests/test_dark_monitor.py
  jwql/utils/calculations.py
  jwql/utils/constants.py
Labels: bug, Filesystem, Monitor
