Repository spacetelescope/jwql, pull requests merged in 2021-03, with the labels that each got.

#705 Update pipeline rscd step call
  jwql/instrument_monitors/pipeline_tools.py
Labels: bug, dependencies

#706 Remove Unsupported Monitors and Image View Options
  jwql/website/apps/jwql/templates/base.html
  jwql/website/apps/jwql/templates/instrument.html
Labels: Web Application

#699 Adding Github Actions to JWQL
  .github/workflows/ci.yml
  Jenkinsfile
  JenkinsfileRT
  environment_python_3_7.yml
  environment_python_3_8.yml
  jwql/database/database_interface.py
  jwql/tests/test_api_views.py
  jwql/tests/test_bad_pixel_monitor.py
  jwql/tests/test_bias_monitor.py
  jwql/tests/test_dark_monitor.py
  jwql/tests/test_data_containers.py
  jwql/tests/test_database_interface.py
  jwql/tests/test_edb.py
  jwql/tests/test_instrument_properties.py
  jwql/tests/test_loading_times.py
  jwql/tests/test_logging_functions.py
  jwql/tests/test_permissions.py
  jwql/tests/test_pipeline_tools.py
  jwql/tests/test_preview_image.py
  jwql/tests/test_readnoise_monitor.py
  jwql/tests/test_utils.py
  jwql/website/apps/jwql/data_containers.py
  jwql/website/apps/jwql/tests/test_context_processors.py
Labels: Testing

#708 Adding badges for github actions to README.md
  README.md
Labels: Documentation

#694 Generate all preview images in filesystem
  jwql/jwql_monitors/generate_preview_images.py
Labels: Database, bug

#692 Fix broken bokeh CDN links in web app
  jwql/website/apps/jwql/templates/base.html
Labels: Web Application, bug

#709 Improve loading times for web app archive pages
  docs/source/jwql_monitors.rst
  jwql/jwql_monitors/generate_proposal_thumbnails.py
  jwql/utils/constants.py
  jwql/utils/utils.py
  jwql/website/apps/jwql/data_containers.py
  jwql/website/apps/jwql/views.py
Labels: Filesystem, Web Application, enhancement

#641 JWQL Dashboard
  jwql/website/apps/jwql/bokeh_dashboard.py
  jwql/website/apps/jwql/data_containers.py
  jwql/website/apps/jwql/templates/dashboard.html
  jwql/website/apps/jwql/views.py
Labels: Web Application

#666 Update ops naming convention in log directory
  jwql/utils/logging_functions.py
Labels: bug

#713 Dark monitor exits gracefully when not enough files in filesystem
  jwql/instrument_monitors/common_monitors/dark_monitor.py
Labels: Monitor, bug
