Repository spacetelescope/jwql, pull requests merged in 2021-07, with the labels that each got.

#760 Switch to latest dms build
  jwql/jwql_monitors/generate_preview_images.py
  jwql/utils/preview_image.py
  jwql/utils/utils.py
Labels: Filesystem

#765 Add tests for monitor webpages
  jwql/tests/test_loading_times.py
Labels: Web Application, enhancement

#766 Fix missing reffile error handling in Readnoise Monitor
  jwql/instrument_monitors/common_monitors/readnoise_monitor.py
Labels: Monitor, bug

#767 Remove need for astroconda channel
  environment_python_3_7.yml
  environment_python_3_8.yml
Labels: Environment, dependencies
