Repository spacetelescope/jwql, pull requests merged in 2021-01, with the labels that each got.

#686 Bypass authentication for users running web app locally
  jwql/website/apps/jwql/oauth.py
  jwql/website/apps/jwql/views.py
Labels: Web Application

#687 Speed up readnoise monitor webpage
  jwql/website/apps/jwql/bokeh_containers.py
  jwql/website/apps/jwql/monitor_pages/monitor_readnoise_bokeh.py
  jwql/website/apps/jwql/monitor_pages/yaml/monitor_readnoise_interface.yaml
Labels: Web Application, enhancement

#688 Prevent dark monitor crash when database is empty
  jwql/website/apps/jwql/monitor_pages/monitor_dark_bokeh.py
Labels: Web Application, bug
