Repository spacetelescope/jwql, pull requests merged in 2022-02, with the labels that each got.

#861 Update sphinx docs
  docs/source/bokeh_templating.rst
  docs/source/index.rst
  docs/source/jwql_monitors.rst
  docs/source/tests.rst
  docs/source/website.rst
  environment_python_3_7.yml
  environment_python_3_8.yml
  jwql/jwql_monitors/generate_proposal_thumbnails.py
  jwql/jwql_monitors/monitor_cron_jobs.py
  jwql/jwql_monitors/monitor_filesystem.py
  jwql/website/apps/jwql/forms.py
  requirements.txt
  setup.py
Labels: bug, Documentation, dependencies

#874 Allow dark monitor to work for all instruments
  jwql/utils/constants.py
  jwql/website/apps/jwql/bokeh_containers.py
Labels: bug, Web Application

#865 Add Proposal Metadata to Preview Images Page
  environment_python_3_7.yml
  environment_python_3_8.yml
  jwql/website/apps/jwql/data_containers.py
  jwql/website/apps/jwql/templates/thumbnails.html
  jwql/website/apps/jwql/views.py
  requirements.txt
Labels: enhancement, Web Application

#868 Plot non-numerical mnemonic dataset
  jwql/edb/engineering_database.py
  jwql/website/apps/jwql/data_containers.py
  jwql/website/apps/jwql/templates/engineering_database.html
Labels: enhancement, Database, Web Application

#876 Fix/modify integration slider
  jwql/website/apps/jwql/data_containers.py
  jwql/website/apps/jwql/static/js/jwql.js
  jwql/website/apps/jwql/templates/view_image.html
  jwql/website/apps/jwql/views.py
Labels: bug, Web Application

#886 Multiple Web Application House Keeping Items
  jwql/website/apps/jwql/data_containers.py
  jwql/website/apps/jwql/templates/base.html
  jwql/website/apps/jwql/templates/jwqldb_table_viewer.html
  jwql/website/apps/jwql/views.py
  style_guide/accessibility_guidelines.md
Labels: Web Application

#892 Closing Session in build_table Function
  jwql/instrument_monitors/common_monitors/bad_pixel_monitor.py
  jwql/instrument_monitors/common_monitors/bias_monitor.py
  jwql/instrument_monitors/common_monitors/dark_monitor.py
  jwql/instrument_monitors/common_monitors/readnoise_monitor.py
  jwql/jwql_monitors/monitor_filesystem.py
  jwql/website/apps/jwql/data_containers.py
  jwql/website/apps/jwql/db.py
  jwql/website/apps/jwql/monitor_pages/monitor_bad_pixel_bokeh.py
  jwql/website/apps/jwql/monitor_pages/monitor_bias_bokeh.py
  jwql/website/apps/jwql/monitor_pages/monitor_dark_bokeh.py
  jwql/website/apps/jwql/monitor_pages/monitor_readnoise_bokeh.py
  jwql/website/apps/jwql/templates/jwqldb_table_viewer.html
Labels: bug, Database, Web Application

#893 Updated JDOX links so they don't produce 404 errors
  .gitignore
  jwql/utils/constants.py
  jwql/utils/utils.py
Labels: bug, Documentation

#894 Updating "Filter By" Dropdown in Archive View
  jwql/website/apps/jwql/data_containers.py
Labels: Web Application
