Repository spacetelescope/jwql, pull requests merged in 2022-09, with the labels that each got.

#700 Cosmic ray monitor (via mengesser:develop)
  jwql/database/database_interface.py
  jwql/database/monitor_table_definitions/fgs/fgs_cosmic_ray_query_history.txt
  jwql/database/monitor_table_definitions/fgs/fgs_cosmic_ray_stats.txt
  jwql/database/monitor_table_definitions/miri/miri_cosmic_ray_query_history.txt
  jwql/database/monitor_table_definitions/miri/miri_cosmic_ray_stats.txt
  jwql/database/monitor_table_definitions/nircam/nircam_cosmic_ray_query_history.txt
  jwql/database/monitor_table_definitions/nircam/nircam_cosmic_ray_stats.txt
  jwql/database/monitor_table_definitions/niriss/niriss_cosmic_ray_query_history.txt
  jwql/database/monitor_table_definitions/niriss/niriss_cosmic_ray_stats.txt
  jwql/database/monitor_table_definitions/nirspec/nirspec_cosmic_ray_query_history.txt
  jwql/database/monitor_table_definitions/nirspec/nirspec_cosmic_ray_stats.txt
  jwql/instrument_monitors/common_monitors/cosmic_ray_monitor.py
  jwql/tests/test_cosmic_ray_monitor.py
  jwql/utils/constants.py
  jwql/website/apps/jwql/bokeh_containers.py
  jwql/website/apps/jwql/data_containers.py
  jwql/website/apps/jwql/forms.py
  jwql/website/apps/jwql/monitor_pages/__init__.py
  jwql/website/apps/jwql/monitor_pages/monitor_cosmic_rays_bokeh.py
  jwql/website/apps/jwql/monitor_views.py
  jwql/website/apps/jwql/templates/cosmic_ray_monitor.html
  jwql/website/apps/jwql/urls.py
  setup.py
Labels: Web Application, Testing, Monitor

#888 nirspec TA monitors: wata and msata
  jwql/database/database_interface.py
  jwql/database/monitor_table_definitions/nirspec/nirspec_ta_query_history.txt
  jwql/database/monitor_table_definitions/nirspec/nirspec_ta_stats.txt
  jwql/instrument_monitors/nirspec_monitors/ta_monitors/msata_monitor.py
  jwql/instrument_monitors/nirspec_monitors/ta_monitors/wata_monitor.py
  jwql/utils/constants.py
  jwql/utils/monitor_utils.py
  jwql/website/apps/jwql/data_containers.py
  jwql/website/apps/jwql/monitor_pages/yaml/monitor_ta_detail_panel.yaml
  jwql/website/apps/jwql/monitor_pages/yaml/monitor_ta_interface.yaml
  jwql/website/apps/jwql/monitor_views.py
  jwql/website/apps/jwql/static/js/jwql.js
  jwql/website/apps/jwql/templates/msata_monitor.html
  jwql/website/apps/jwql/templates/wata_monitor.html
  jwql/website/apps/jwql/urls.py
  jwql/website/apps/jwql/views.py
Labels: Monitor

#1031 allow per-instrument database table reset
  jwql/database/database_interface.py
  jwql/database/reset_database.py
Labels: enhancement, Database
