Repository spacetelescope/jwql, pull requests merged in 2022-04, with the labels that each got.

#898 Strip out code for mosaic preview images
  jwql/jwql_monitors/generate_preview_images.py
Labels: Web Application

#922 Make Readnoise Monitor less memory-intensive
  jwql/instrument_monitors/common_monitors/readnoise_monitor.py
  jwql/website/apps/jwql/monitor_pages/monitor_bias_bokeh.py
  jwql/website/apps/jwql/monitor_pages/monitor_readnoise_bokeh.py
Labels: bug, enhancement, Monitor, High Priority

#936 Remove unnecessary output files from bias/readnoise monitors
  jwql/instrument_monitors/common_monitors/bias_monitor.py
  jwql/instrument_monitors/common_monitors/readnoise_monitor.py
Labels: enhancement, Monitor
