Repository spacetelescope/jwql, pull requests merged in 2022-10, with the labels that each got.

#1052 Initial session update with "rough" sorting
  jwql/website/apps/jwql/static/js/jwql.js
  jwql/website/apps/jwql/templates/query_submit.html
  jwql/website/apps/jwql/templates/thumbnails_per_obs.html
  jwql/website/apps/jwql/urls.py
  jwql/website/apps/jwql/views.py
Labels: Web Application, WIP

#1049 Implement "Viewed" Button and Filtering
  jwql/utils/constants.py
  jwql/website/apps/jwql/admin.py
  jwql/website/apps/jwql/archive_database_update.py
  jwql/website/apps/jwql/data_containers.py
  jwql/website/apps/jwql/models.py
  jwql/website/apps/jwql/static/js/jwql.js
  jwql/website/apps/jwql/templates/thumbnails_per_obs.html
  jwql/website/apps/jwql/templates/view_image.html
  jwql/website/apps/jwql/urls.py
  jwql/website/apps/jwql/views.py
Labels: enhancement, Database

#1054 Proposal thumbnail search includes only proposal subdirectories
  jwql/jwql_monitors/generate_proposal_thumbnails.py
Labels: preview_images/thumbnails
