Repository spacetelescope/jwql, pull requests merged in 2022-01, with the labels that each got.

#845 Fix various webapp issues
  jwql/utils/constants.py
  jwql/website/apps/jwql/bokeh_dashboard.py
  jwql/website/apps/jwql/data_containers.py
  jwql/website/apps/jwql/templates/api_landing.html
  jwql/website/apps/jwql/templates/home.html
Labels: bug, Web Application

#853 Update About page
  jwql/website/apps/jwql/static/img/edb.png
  jwql/website/apps/jwql/static/img/instrument_monitor.png
  jwql/website/apps/jwql/static/img/jwql_dev_team.png
  jwql/website/apps/jwql/static/img/jwql_instrument_monitors.png
  jwql/website/apps/jwql/static/img/jwqldb.png
  jwql/website/apps/jwql/static/img/programmatic_api.png
  jwql/website/apps/jwql/static/img/visual_inspection.png
  jwql/website/apps/jwql/templates/about.html
  rtd_requirements.txt
Labels: Web Application, Documentation

#854 Modified README and environment files as per onboarding notes in issue 852
  .gitignore
  README.md
  environment_python_3_7.yml
  environment_python_3_8.yml
Labels: Environment, Documentation

#857 Create symlinks to filesystem in web application static directory.
  jwql/website/manage.py
Labels: Package, Web Application
